@extends("base.html")
@def content():
@require(path_for,notes)
@import "headers.html" as hdr
@hdr.login_header()
<div class="container">
    <div class="modal fade" id="edit-modal" role="dialog">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" id="modal_content">
        </div>
        
      </div>
    </div> 
</div>


<div class="container">
    <div class="row">
        <div class="col-md-10 gedf-main">
            <div class="card gedf-card">
                <div class="card-header">
                    <h5 class="nav-link active" id="posts-tab" aria-selected="true">Make a publication</h5>
                </div>
                <div class="card-body">
                    <form action="/addnote" method="POST">
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="add" role="tabpanel" aria-labelledby="posts-tab">
                                <div class="form-group">
                                    <textarea class="form-control" id="add" name="add" rows="3" placeholder="Make your notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="btn-toolbar justify-content-between">
                            <div class="btn-group">
                                <button type="submit" class="btn btn-info">share</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>
    </div>
    @for note in notes:
    @if note[2]:
        <div class="row">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mb-2 text-muted">@note[3]</h6>
                        <p class="card-text">@note[2].</p>
                        <button onclick="showNoteModal('/notes/@note[4]!s')" class="btn btn-secondary btn-sm rounded-0" type="button" data-toggle="modal" data-target="#edit-modal"  data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                        <button onclick="location.href='/deletenote/@note[4]!s'" class="btn btn-danger btn-sm rounded-0" type="submit" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    @endif
    @endfor
</div>
@end