.alert{
    color:brown;
    position: absolute;
    left: 51%;
}
.notes_cont{
    position: fixed;
    width: 500px;
}
.login_cont{
    background-color: gray;
    position: absolute;
    top: 100px;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 215px;
    height: 179px;
    padding:10px
}
.login_button{
    position:relative;
    left:14px
}
.singleNote{
    display: ruby;
}